.profile-show{
    width: 100%;
}
.profile-box{
    margin-left: 50px;
    display: flex;
}
.container-picture-profile{
    max-width: 600px;
    width: 100%;
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 250px;
    
}
.bg-img-profile{
    position: relative;
}
.img-profile{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    object-fit: cover;
    border: none;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}
.input-upload-profile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    visibility: visible;
    cursor: pointer;
}
.info-profile{
    margin-left: 5%;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
    font-size: 22px;
    font-weight: 600;
    margin-top: 250px;
    margin-right: 50px;
}
.name-profile{
    display: flex;
    flex-wrap: wrap;
}
.name-info{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 1px solid #8d8d8d;
    padding-left: 5px;
}
.name-info:focus{
    border-bottom: 1px solid #000000;
}
.change-pass-profile{
    width: 200px;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid #12419C;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff4b;
    cursor: pointer;
}
