body{
    background: linear-gradient(to bottom ,#7CFBDD, #12419C);
}
.vectorlogin{
    position: absolute;
    top: 0;
}
.allcontent{
    display: flex;
    justify-content: center;    
}
.content{
    display: flex;
    position: relative;
    flex-direction: column;
    width: 1000px;
    align-items: center;
    left: 50%;
}
.mail{
    margin: 15px

}
.work{
    border: 2px solid #DFDFDF;
    border-radius: 20px;
    background-color: #00B7F1;
}
.welcome{
    display: flex;
    align-self: flex-start;

}
.subwork{
    width: 1000px;
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    align-self: center;
}
.subwork:last-child{
    border-radius: 0px 0px 18px 18px;
}
.subwork button{
    height: 40px;
    color: black;
    margin: 15px;
    background-color: #6FFFD4;
}
.subwork p {
    margin: 20px;
}
.or{
    margin: 30px 0;
    color: white;
}
.create{
    width: 1000px;
    height: 70px;
    border: 1px solid #DFDFDF;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.first{
    margin: 2px;
    width: 200px;
    background-color: #76D6FF;
    border-radius: 19px 50px 50px 19px;
}
.first img{
    width: 50%;
}
.mid{

}
.last button{
    height: 40px;
    color: black;
    margin: 15px;
    background-color: #6FFFD4;
}