
.container-workspace{
    background: linear-gradient(to bottom, #ffffff, #45AABB);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}
.container-menu-show{
    margin: 70px 0 0 0;
    width: 100%;
    display: flex;
}
.sidebar-box{
    height: 100%;
    max-width: 300px;
    width: 20%;
    min-width: 200px;
}
