
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    padding-top: 40px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 70px;
    max-width: 2000px;
}
.logo-href{
    display: flex;
    align-items: center;
}
.logonav{
    width: 200px;
    object-fit:contain;
    cursor: pointer;
    margin-top: 20px;
}
.userNav{
    display: flex;
    align-items: center;
    font-size: 25px;
    color: #fff;

}
.profile{
    width: 50px;
    height: 50px;
    background-color: aliceblue;
    border-radius: 100%;
    margin-bottom: 10px;
    object-fit: cover;
}
.bg-logout-profile{
    display: flex;
    align-items: center;
    gap: 20px;
}
.bg-profile{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}
.logout{
    color: #fff;
}