.subshare{
    width: 100%;
    height: 60px;
    background-color: #e8e8e86c;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 5px;
}
.textsubshare{
    font-size: 18px;
    display: flex;
    gap: 20px;

}
.ans-share{
    display: flex;
    gap: 10px;
}
.bt-share-ansno{
    width: 70px;
    height: 30px;
    border: 1px solid #ff4f4f;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #ff4f4f;
    transition-duration: 0.2s;
}
.bt-share-ansno:hover{
background-color:#ff4f4f29 ;
}
.bt-share-ansyes{
    width: 70px;
    height: 30px;
    background-color: #0be9031d;
    border: 1px solid #036000;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #036000;
    transition-duration: 0.2s;
}
.bt-share-ansyes:hover{
    background-color:rgba(3, 96, 0, 0.358) ;
    }