.container-task{
    width: 100%;
}
.box-task{
    max-width: 1500px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0px 80px 20px 80px;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.2s;
}
.item-task_create_date, .item-task_due_date{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
}
.item-name{
    display: flex;
    align-items: center;
    padding-left: 30px;
    width: 18%;
}
.item-status_task{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
    width: 15%;
}
.item-role{
    overflow-y: auto;
    overflow-x: hidden;
    flex-wrap: wrap;
    display: flex;
    height: 80px;
    width: 22%;
    gap: 4px;
    padding-right: 4px;
}
.item-role::-webkit-scrollbar {
    background: none;
    border-radius: 10px;
    width: 5px;
    height: 10px;
}

.item-role::-webkit-scrollbar-thumb {
    background-color: #205ea537;
    border-radius: 10px;

}
.box-task:hover{
    background-color: rgba(247, 247, 247, 0.7);
}
.no-task{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    font-size: 20px;
    color: #888888;
}
