.task-show{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}
.task-box{
    width: 100%;
}
.filter-task{
    width: 200px;
    margin: 50px 0 0 80px;
    display: flex;
    gap: 20px;

}
.bg-all-taskbox{
    width: 100%;
    height: 80vh;
    overflow: auto;
    padding-bottom:100px ;
}
.bg-all-taskbox::-webkit-scrollbar {
    background: none;
    border-radius: 10px;
    width: 10px;
    height: 10px;
   
}

.bg-all-taskbox::-webkit-scrollbar-thumb {
    background: none; 
    background-color: #2f6eb655;
    border-radius: 10px;
}
.all-task{
    border-right: 1px solid #000;
    padding-right: 20px;
    cursor: pointer;
    color: #888888;
}
.my-task{
    cursor: pointer;
    color: #888888;
}
.task-title-active{
    color: #000000;
}
.add-task-box{
    width: 84%;
    position: fixed;
    bottom: 0;
    background: linear-gradient(to bottom, #ffffff00, #45AABB);
}
.add-task{
    max-width: 1500px;
    height: 50px;
    margin: 0 80px 50px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50px;
    border:2px solid #12419C;
    cursor: pointer;
}
.titleTable{
    max-width: 1500px;
    margin: 20px 80px 10px 80px;
    padding: 0 20px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: 0.2s;
    color: #888888;
    position: relative;
}
.titleTable-cdate,.titleTable-ddate{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
}
.titleTable-name{
    display: flex;
    align-items: center;
    padding-left: 30px;
    justify-content: flex-start !important;
    width: 18%;
}
.titleTable-role{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22%;
}
.titleTable-status{
    display: flex;
    align-items: center;
    justify-content: flex-end ;
    margin-right: 50px;
    width: 15%;
    
}
.icon-titleTable-statu{
    flex-shrink: 0;
}
.dropdown{
    position: absolute;
    top: -40px;
    right: 25px;
    background-color: #ffffff7a;
    width: 150px;
    height: auto;
    padding: 15px 0;
    gap: 10px;
    z-index: 1000;
    border-radius: 15px;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition-duration: 0.3s;
    scale: 0;
}
.open{
    transform: translateY(80px);
    scale: 1;
}
.dropdown-item1{
    padding: 2px 0;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.3s;
    background-color: #5d5d5d;
    color: #fff;
    border-radius: 50px;
}
.dropdown-item2{
    padding: 2px 0;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.3s;
    background-color: #1c70d1;
    color: #fff;
    border-radius: 50px;
}
.dropdown-item3{
    padding: 2px 0;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.3s;
    background-color: #0dc404;
    color: #fff;
    border-radius: 50px;
}

