.subwork{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    font-size: 18px;
    border-radius: 0px 0px 18px 18px;
}


.subwork button{
    height: 40px;
    max-width: 120px;
    color: #fff;
    margin: 15px;
    background-color: #2960cd;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.2s;
}
.subwork button:hover{
    background-color: #1B479F;
}
.subwork p {
    margin: 20px;
}
.bt-line-work{
    width: 100%;
    height:5px;
    border-bottom: 1px solid #DFDFDF;
    margin-bottom:5px ;
}
.bt-line-work:last-child{
    visibility: hidden;
}